* {
  user-select: none;
  cursor: none;
  touch-action: manipulation;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #000;
}

#videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

#videoContainer video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

video::-internal-media-controls-overlay-cast-button {
  display: none;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.button {
  position: absolute;
}

.debug{
  border: 1px dashed red;
  background: rgba(0,0,0,0.4);
}

.debugName{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  font-family:monospace;
  text-shadow: 1px 0px 8px #000;
}